@use 'mixins';
@use 'variables';

.aimodel-container {
  display: flex;
  flex-direction: row;
  @include mixins.flex-centered;
  justify-content: space-around;
  width: 100%;
  font-size: 0.8rem;
  margin-top: auto;
  position: relative;

  &::before {
	content: 'Gemini 2.5 AI models';
	position: absolute;
	letter-spacing: 3px;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	color: variables.$text-color-dark;
	white-space: nowrap;
  }

  label {
	@include mixins.flex-centered;
	position: relative;
	//width: fit-content;
	cursor: pointer;
	transition: color 0.1s ease-in-out;
	padding: 0.5rem;
	margin-bottom: 0 !important;
	white-space: nowrap;
	//overflow: hidden;
	width: 33%;

	.model-short {
	  display: none;
	}

	@media (max-width: 600px) {
	  .model-full {
		display: none;
	  }
	  .model-short {
		display: inline;
	  }
	}

	input[type="radio"] {
	  display: none;
	}

	&::before {
	  content: '';
	  width: 12px;
	  height: 12px;
	  border-radius: 50%;
	  background-color: variables.$accent-color;
	  opacity: 0;
	  //border: 1px solid white;
	  margin-right: 0.5rem;
	  transition: all 0.1s ease-in-out;
	}

	&::after {
	  content: attr(data-tooltip);
	  position: absolute;
	  bottom: -8px;
	  right: 50%;
	  transform: translateX(50%);
	  width: fit-content;
	  white-space: nowrap;
	  opacity: 0;
	  background-color: transparent;
	  color: variables.$text-color-dark;
	  border-radius: 10px;
	  transition: all 0.1s ease-in-out;
	  font-size: 0.75rem;
	}

	&:hover {
	  &::before {
		opacity: 0.5;
	  }
	  &::after {
		opacity: 1;
	  }
	}


	&.active {
	  &::before {
		opacity: 1;
	  }
	}
  }
}