@use 'variables';
@use 'mixins';

.container {
  height: calc(100% - 50px);
  width: 90%;
  @include mixins.flex-centered;
  flex-direction: column;

  #blog-form,
  #email-form {
	margin: 2rem 0 2rem 0;
	border-radius: 20px 0 20px 0;
	border: 2px solid variables.$border-color;
	box-shadow: 0px 0px 10px 0px variables.$shadow-color;
	background-color: variables.$bg-color-mid;
	display: grid;
	grid-template-columns: 40% 40% 10%;
	grid-template-rows: 1fr 1fr 1fr auto 0.7fr;
	//gap: 1rem;
	align-items: center;
	width: 100%;
	justify-content: center;
	height: 55%;

	&:not(.loading):not(.error):focus, // &:not(.loading):not(.error):has(> textarea:focus)
	&:not(.loading):not(.error):focus-within {
	  border-color: variables.$accent-color;
	  box-shadow: 0px 0px 3px 3px variables.$accent-color;
	}

	.fields-column-1 { grid-column: 1 / span 2; grid-row: 1; }
	.fields-column-2 { grid-column: 1 / span 2; grid-row: 2; }
	.fields-column-3 { grid-column: 1 / span 2; grid-row: 3; }
	.slider-column   { grid-column: 3; grid-row: 1 / span 3; }
	.aimodel-container { grid-column: 1 / span 3; grid-row: 4; }
	.button-container  { grid-column: 1 / span 3; grid-row: 5; }

	.fields-column {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  //gap: 1rem;
	}

	.slider-column {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  align-self: stretch;
	  justify-content: center;
	  //height: 100%;
	  //flex-grow: 1;
	}

	.double {
	  width: 90%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: row;
	  gap: 10%;
	  margin-bottom: 16px;
	}

	label {
	  margin-bottom: 16px;
	  position: relative;
	  display: flex;
	  align-items: center;
	  justify-content: center;

	  input {
		outline: none;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid variables.$border-color;
		padding: 0.5rem;
		height: 40px;
		color: variables.$text-color-light;
		width: 100%;
		font-size: 1rem;
		text-align: center;
		transition: border-bottom-color 0.1s ease-in-out;

		&::placeholder {
		  color: #b1b1b1;
		  transition: color 0.1s ease-in-out;
		}

		&:not([type="radio"]):not([type="range"]):not([type="checkbox"]):focus,
		&:not([type="radio"]):not([type="range"]):not([type="checkbox"]):hover {
		  border-bottom: 1px solid variables.$accent-color;

		  &::placeholder {
			color: transparent;
			font-size: 1rem;
		  }
		}
	  }

	  input:is([type="range"]) {
	  	border: none;
	}

	  &#seoFocus {
		color: variables.$placeholder-color;
		height: 40px;
		font-size: 1rem;
		text-align: center;
		cursor: pointer;
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */

		&:has(> input:checked) {
		  color: variables.$text-color-light;
		}
	  }

	  &#wordCount {
		flex-direction: column-reverse;
		gap: 0;
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */

		input[type="range"] {
		  -webkit-appearance: none;
		  appearance: none;
		  background: transparent;
		  width: 50px;
		  cursor: pointer;
		  height: 18%;
		  transition: all 0.1s ease-in-out;
		  writing-mode: vertical-lr;
		  //flex-grow: 1;

		  &:hover,
		  &:focus {
			outline: none;
			//width: 100%;

			&::-webkit-slider-thumb {
			  background-color: variables.$accent-color;
			}

			&::-webkit-slider-runnable-track {
			  background-color: variables.$text-color-light;
			}
		  }

		  &::-webkit-slider-thumb {
			@include mixins.thumb-style;
		  }

		  &::-moz-range-thumb {
			@include mixins.thumb-style;
		  }

		  &::-ms-thumb {
			@include mixins.thumb-style;
		  }

		  &::-webkit-slider-runnable-track {
			@include mixins.track-style;
		  }

		  &::-moz-range-track {
			@include mixins.track-style;
		  }

		  &::-ms-track {
			@include mixins.track-style;
		  }
		}

	  }

	  &.long {
		width: 90%;
	  }

	  &.short {
		width: 50%;
	  }

	  &.placeholder::after {
		content: attr(data-placeholder);
		color: transparent;
		position: absolute;
		bottom: -8px;
		background-color: transparent;
		padding: 0 0.5rem 0 0.5rem;
		left: 50%;
		transform: translateX(-50%);
		font-size: 0.8rem;
		//width: 0;
		//transition: all 1s ease-in-out;
	  }

	  &#wordCount::after {
		//bottom: 0;
		bottom: -20px;
		height: fit-content;
		background-color: transparent;
		color: variables.$placeholder-color;
		padding: 0;
	  }

	  &.filled {
		&::after {
		  background-color: variables.$bg-color-mid;
		  color: variables.$placeholder-color;
		  //width: fit-content;
		}
	  }


	  input[type="number"] {
		-moz-appearance:textfield;
	  }

	  input::-webkit-outer-spin-button,
	  input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	  }

	  input[type="checkbox"] {
		appearance: none;
		-webkit-appearance: none;
		height: 1.3rem;
		width: 1.3rem;
		margin-left: 1rem;
		background-color: transparent;
		cursor: pointer;
		//padding: 0.5rem;
		border: 1px solid white;
		border-radius: 0.2rem;
		transition: border-color 0.1s ease-in-out;
		background-size: 80%;
		background-position: center center;
		background-repeat: no-repeat;
		//background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><line x1='4' y1='4' x2='20' y2='20' stroke='white' stroke-width='3'/><line x1='20' y1='4' x2='4' y2='20' stroke='white' stroke-width='3'/></svg>");

		&:focus,
		&:hover{
		  outline: none;
		  background-color: #3e3e3e;
		  border-color: variables.$accent-color
		}

		&:checked {
		  background-size: cover;
		  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='white' d='M20 6L9 17l-5-5'/></svg>");
		}

		//&:checked:not(:disabled):checked {
		//
		//}
	  }
	}
  }
}
