@use 'variables';

.output {
  height: 40%;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  color: white;
  border-radius: 0 20px 0 20px;
  //border: 2px solid white;

  &:focus {
    border-color: variables.$accent-color;
  }

  #output-text {
    resize: none;
    width: 100%;
    height: 100%;
    border-radius: 0 20px 0 20px;
    padding: 0.5rem;
    border: 2px solid white;
    outline: none;

    &:not(.loading):not(.error):focus {
      border-color: variables.$accent-color;
      box-shadow: 0px 0px 3px 3px variables.$accent-color;
    }

    &.loading {
      border-color: variables.$accent-color;
      animation: flashShadowLoading 1s ease-in-out infinite;
    }

    &.error {

      text-align: center;
      border-color: variables.$error-color;
      animation: flashShadowError 1s ease-in-out infinite;
    }
  }
}

@keyframes flashShadowLoading {
  0% {
    box-shadow: 0 0 1px 1px variables.$accent-color;
  }
  50% {
    box-shadow: 0 0 4px 4px variables.$accent-color;
  }
  100% {
    box-shadow: 0 0 1px 1px variables.$accent-color;
     }
}

@keyframes flashShadowError {
  0% {
    box-shadow: 0 0 1px 1px variables.$error-color;
  }
  50% {
    box-shadow: 0 0 4px 4px variables.$error-color;
  }
  100% {
    box-shadow: 0 0 1px 1px variables.$error-color;
  }
}